@charset "UTF-8";

@media (max-width: 600px) {
    #menutoolbar{
      display: none;
      font-weight: lighter;
      font-size: 0.6em;
      float: right;
      position: relative;
      top: 30px;
      right: 80px;
    }
    #toolbaricon{
        display: flex;
        max-width: none;
         margin: 1em;
         width: 40px;
        float: right;
        position: relative;
        left: -350px;
        top: -10px;
    }
  }